@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@theme {
  /* Base Design Tokens */
  --color-dark-primary: #714b67;

  --color-text-primary: #1a2b3c;
  --color-text-secondary: #F9F9FA;
  --color-text-primary-dark: #323232;
  --color-text-secondary-dark: #515969;
  --color-text-secondary-light: #6f7d83;
  --color-text-secondary-very-light: #c2cdd1;

  --color-text-orange: #ff5757;
  --color-text-orange-light: #ff8f0b;

  --color-divider: #e2e2e2;

  --color-odoo-black: #323232;
  --color-odoo-orange: #ff9800;
  --color-odoo-dark-orange: #ff5757;
  --color-odoo-green: #27ae60;
  --color-odoo-gray: #515969;

  --color-utsav-white: #ffffff;
}

